fastapi==0.116.1
uvicorn[standard]==0.35.0
prometheus-client==0.22.1
pydantic==2.11.7
httpx==0.28.1
opentelemetry-distro==0.57b0
opentelemetry-exporter-otlp==1.36.0
opentelemetry-instrumentation-fastapi==0.57b0
